
@{
    ViewData["Title"] = "AddImage";
}

<h1>AddImage</h1>
<form asp-controller="Home" asp-action="AddImage" method="post" >
    <input type="text" name="links" /><br />
    <button id="btn1" type="button">Add Input element</button><br />
    <input type="submit" value="Download" />
</form>
@section scripts
{

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#btn1").click(function () {
                $("#btn1").before('<input type="text" name="links" /><br />');
            });           
        });
        
    </script>
}